.buttons-s{
  background-Color: transparent;
  color: #9a52b6;
  border: none;
  font-size: 25px;
  padding-top: 5px;
}
.buttons-s:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-Color: #9a52b6;
  color: white;
  border-radius: 10px;
}
.prebutton-s{
  padding-left: 600px;
}

.closebutton{
  background-Color: transparent;
  color: red;
  border: none;
  font-size: 20px;
  cursor: pointer;
  width: 35px;
  padding-top: 3px;
}

.closebutton:hover{
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-Color: red;
  color: white;
  border-radius: 10px;
}

.preclose {
  padding-left: 220px;
  padding-top: 5px;
}
