.input {
  border:none;
  padding:1rem;
  display:flex;
  flex-direction:column;
}
.input input {
  padding:0.5rem;
  font-size: 1rem;
  background-color: transparent;
  border:none;
  border-bottom: 1px solid rgba(56, 55, 55, 0.452);
  outline-style: none;
}
.input input:focus {
  border-bottom: 1px solid #000;
}
.input label{
  font-size: 0.8rem;
  color: rgb(32, 32, 32);
  margin-bottom: 0.5rem;
}
