.titulo {
    text-align: center;
    text-Shadow: 0px 3px 5px rgb(0,0,0, 0.5);
}

.form {
    min-width: 380px;
    max-width: 640px;
}

.parrafo1{
    font-size: 12px;
    border-radius: 10px;
    text-align: center;
    color:rgba(8, 8, 8, 0.685);
    background-color: rgba(0, 0, 0, 0.13);
}

.buttons {
    text-align: center;
}