.page {
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  color: #020024;
  min-height: 100vh;
}
.absoluteCenter {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap: wrap;
  flex-direction: column;
}
.withNavBar{
  min-height: calc(100vh - 4rem);
}
.content {
  background:rgba(255, 255, 255, 0.795);
  padding:2rem;
  border-radius: 10px;
}
